
<div class='nav'>
  <div class='nav_links_right'><a href='/events'> Your Events</a><a href='/events/show_all'> All
Events</a><a href='/edit'>Profile</a><a href='/logout'>Logout</a>
</div>
  <form action="/new" method="get">
    <input type="submit" value="Create Event!">
  </form>
</div>
<div class="flash_message">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>
<h3>Welcome <%=@host.username%>!!</h3>

<h4>These are all your events</h4>
<ul>
<%@events.each do |event|%>
<a href="/events/<%=event.slug%>"><li><%=event.name %> on <%=event.date%> @ <%=event.venue.name %> </li></a>
<%end%>
</ul>
