<div class='nav'><a href='/events'> Your Events</a><a href='/events/show_all'> All
Events</a><a href='/logout'>Logout</a></div>

<form action="/events/<%=@event.slug%>"method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  Event Name:<input type="text" name="name"value="<%=@event.name%>"></br>
  Date (dd/mm/yy):<input type="text" name="date"value="<%=@event.date%>"></br>
  Venue: <%@venues.each do |venue|%>
  <%=venue.name%><input type="radio" name="venue" value="<%=venue.id%>"id ="<%=venue.id%>" <%='checked' if @event.venue.id == venue.id%>>
  <%end%></br>
  </br>
  If the venue isn't listed above please add it</br>
  Name: <input type="text" name="new_venue"></br>
  Location: <input type="text" name="location"></br>
  <input type="submit" value="Edit">
</form>
