<a href='/events'> Your Events</a><a href='/events/show_all'> All Events</a></br>

<%=@event.name %> on <%=@event.date%> @ <%=@event.venue.name %>
<form action="/delete_event/<%=@event.slug%>"method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
<form action="/edit_event/<%=@event.slug%>"method="get">
<input type="submit" value="Edit">
</form>
