<div class="nav"><a href='/events'> Your Events</a><a href='/events/show_all'> All
Events</a><a href='/edit'>Profile</a><a href='/logout'>Logout</a>
</div></br>
</br>

<%=@event.name %> on <%=@event.date%> @ <%=@event.venue.name %> located in <%=@event.venue.location %></br>
Event is hosted by <%=@event.host.username %>
<% if @host.id == @event.host_id%></br>
<div class= 'buttons_left'>
  <form action="/events/<%=@event.slug%>/delete"method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
<div class= 'buttons_left'>
  <form action="/events/<%=@event.slug%>/edit"method="get">
    <input type="submit" value="Edit">
  </form>
  </div>
<%end%>
